
.background {
    background-color: #182b3a;
    padding-top: 5vh;
    padding-bottom: 15vh;
}


.title {
    color: #fff;
    text-align: center;
    font-weight: bolder;
    margin: 3vh;
}

.step-text {
    color: #fff;
}

.button {
    margin:1vh;
    width: 18vh;
    color: #fff;
    background-color: #BC1439;
    border: none;
}

.plan-duration {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: space-around;
    margin: 3vh;
}

.gb-volume {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: space-around;
    margin: 3vh;
}

.box {
    width: 90%;
    margin: 6vh 5% 15vh 5%;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.upfront-payment {
    color: #fff;
    text-align: center;
}

.upfront-payment-box {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.next-btn {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
    margin-top: 4vh;
}

.back-next-btn {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
    margin-top: 5vh;
}

.card-details-box {
    margin: 10% 20% 10% 20%;
}


.label {
    color: #fff;
}

h1 {
    color: #fff;
}

.terms-conditions {
    text-align: center;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    color: #fff;
}

.confirm-btn {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

p {
    color: #fff;
    text-align: center;
}

h2 {
    color: fff;
    margin: 1vh;
}



